<!DOCTYPE>
<html>
<head>

    <title>SAAV - Sistema de Análise Audiovisual</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta author="Pedro Rago">

    <link rel="icon" href="img/logo.png">
    <base href="">

    <meta property="og:type" content="website">

    <meta charset="utf-8">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gilda+Display|Playfair+Display|Playfair+Display+SC" rel="stylesheet">

    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/responsive.css">
    
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/app.css">
    <link rel="stylesheet" href="../css/responsive.css">
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/Chart.bundle.min.js"></script>
    <script src="/js/Chart.min.js"></script>
    <script src="/js/app.js"></script>

</head>

<body>
    <div class='progress-bar'>
    </div>
    <% include sidebar.ejs %>

    <header>
        <div class='menuContainer-btn'>
            <span class="mobile-btn" title='Menu oculto'></span>
        </div>
        <div class='analyzeHeader'>
            <span>
                <img src="/img/woman2.jpg" alt="">
            </span>
            <h3>Publicado por <strong>Maria Clara</strong></h3>

            <div>
                <img src="/img/statusIcon.svg" alt="">
                <% if (locals.status) { %>

                    <p><%=status%></p>
                   
                   <% } %>
            </div>

            <div>
                <img src="/img/clock.svg" alt="" class='clockImg'>
                <p>01:30:00</p>
            </div>

            <a onclick="saveAnalise()" href="javascript:void(0)">Concluir</a>

        </div>
        <div class='userIconContainer'>
            <picture>
                <img src="data:image/png;base64, <%=locals.user.photo%>" alt="">
            </picture>
        </div>
    </header>

    <div class='content'>

