<% include includes/header.ejs %>

<style>

    aside
    {
        height:5em;
        display:block;
        position: absolute;
    }
    aside .logo
    {
        margin-top:0;
    }
    
    .content {
        width: 100%;
        margin-left: 0;
        padding-top: 5em;
        padding-left: 0em;
        padding-right:0em;
    }
    header .analyzeHeader
    {
        display: flex;
    }
    header .menuContainer-btn
    {
        display: none;
    }
    </style>

<!-- view de analise -->

<main class='mainAnalyze'>
   
    <div class='container'>
        
        <div class='leftposition'>
            <div class='analyzeVideoBox'>
                <video src="img/videoteste.mp4" controls></video>
            </div>
            <div class='HeaderAnalyze-Name'>
                <span>
                    <h2>Program - DE23D2</h2>
                    <p>18/10/2018</p>
                </span>

                <a href="javascript:void(0)"><img src="img/download.svg" alt=""></a>
            </div>

            <div class='Userplace infosPlace'>
                <div class='infosPlaceheader'>
                        <h5>Informações básicas</h5>
                        <i class="material-icons"> keyboard_arrow_down </i>
                </div>
                <div class='infosPlacebody'>   
                    <span>
                        <label for="Nome">Nome do Programa:</label>
                        <input type="text" placeholder="Digite o nome do programa" value='Program-DE23D2'>
                    </span>
                    <span>
                            <label for="Emissora">Nome da Emissora:</label>
                            <input type="text" placeholder="Digite o nome da emissora">
                    </span>
                    <span>
                            <label for="DiaT">Dia de transmissão:</label>
                            <select name="transmissao" id="DiaT">
                                <option value="">Informe o dia de transmissão</option>
                                <option value="Segunda-feira">Segunda-feira</option>
                                <option value="Terça-feira">Terça-feira</option>
                                <option value="Quarta-feira">Quarta-feira</option>
                                <option value="Quinta-feira">Quinta-feira</option>
                                <option value="Sexta-feira">Sexta-feira</option>
                                <option value="Sábado-feira">Sábado-feira</option>
                                <option value="Domingo-feira">Domingo-feira</option>
                            </select>
                    </span>

                    <span>
                            <label for="genero">Gênero:</label>
                            <select name="genero" id="genero">
                                    <option value="">Informe o dia de transmissão</option>
                                    <option value='Auditório'>Auditório</option>
                                    <option value="Colunismo Social">Colunismo Social</option>
                                    <option value="Culinário">Culinário</option>
                                    <option value="Debate">Debate</option>
                                    <option value=" Desenho Animado"> Desenho Animado</option>
                                    <option value="Documentário">Documentário</option>
                                    <option value="Educativo">Educativo</option>
                                    <option value="Entrevista">Entrevista</option>
                                    <option value="Especial">Especial</option>
                                    <option value="Esportivo/transmissão ao vivo">Esportivo/transmissão ao vivo</option>
                                    <option value="Espetivo/gravado">Espetivo/gravado</option>
                                    <option value="Game show">Game show</option>
                                    <option value="Humorístico">Humorístico</option>
                                    <option value="Infantil">Infantil</option>
                                    <option value="Informativo">Informativo</option>
                                    <option value="Interativo">Interativo</option>
                                    <option value="Minissérie">Minissérie</option>
                                    <option value="Musical/Show">Musical/Show</option>
                                    <option value="Novela">Novela</option>
                                    <option value="Programas que trabalham com o sensacional da vida cotidiana">Programas que trabalham com o sensacional da vida cotidiana</option>
                                    <option value="Horário político">Horário político</option>
                                    <option value="Debate político">Debate político</option>
                                    <option value="Reality Show">Reality Show</option>
                                    <option value="Missa">Missa</option>
                                    <option value="Culto religioso">Culto religioso</option>
                                    <option value="Série">Série</option>
                                    <option value="Seriado">Seriado</option>
                                    <option value="Sitcom">Sitcom</option>
                                    <option value="Sorteio">Sorteio</option>
                                    <option value="Talkshow">Talkshow</option>
                                    <option value="Telejornalismo">Telejornalismo</option>
                                    <option value="Variedade">Variedade</option>
                                    <option value="Revista eletrônica">Revista eletrônica</option>
                                    <option value="Outros">Outros</option>
                                    <OPTION>Value</OPTION>
                                        

                            </select>
                        </span>
                        <span>
                            <label for="Idioma">Idioma:</label>
                            <select name="idioma" id="Idioma">
                                <option value="">Selecione o idioma do programa</option>
                                <option value="Português">Português</option>
                                <option value="Inglês">Inglês</option>
                                <option value="Espanhol">Espanhol</option>
                                <option value="Outros idioma">Outros idiomas</option>
                            </select>
                        </span>
                        <span>
                            <label for="Nacionalidade">Nacionalidade de produção:</label>
                            <select name="nacionalidade" id="Nacionalidade">
                                <option value="">Informa a nacionalidade de produção</option>
                                <option value="Produção nacional">Produção nacional</option>
                                <option value="Produção regional">Produção regional</option>
                                <option value="Produção local">Produção local</option>
                                <option value="Produção dos Estados Unidos">Produção dos Estados Unidos</option>
                                <option value="Produção do México">Produção do México</option>
                                <option value="Produção de outros países">Produção de outros países</option>
                            </select>
                            
                    </span>
                    <span>
                        <label for="Leitura">O conteúdo é:</label>
                        <select name="leitura" id="leitura">
                            <option value="Informe qual é o tipo de leitura">Informe qual é o tipo de leitura</option>
                            <option value="Legendado">Legendado</option>
                            <option value="Dublado">Dublado</option>
                            <option value="Não se especifica">Não se especifica</option>
                        </select>
                    </span>
                </div>
            </div>
            <div class='Userplace infosPlace'>
                    <div class='infosPlaceheader'>
                            <h5>Análise de conteúdo</h5>
                            <i class="material-icons"> keyboard_arrow_down </i>
                    </div>
                    <div class='infosPlacebody'>   

                        <span>
                            <label for="ClassificacaoEmissora">Classificação inicativa inicialmente divulgada pela emissora:</label>
                            <select name="ClassificacaoEmissora" id="ClassificacaoEmissora">
                                <option value="Selecione a classificação"> Selecione a Classificação</option>
                                <option value="Livre">Livre</option>
                                <option value="10">10 anos</option>
                                <option value="12">12 anos</option>
                                <option value="14">14 anos</option>
                                <option value="16">16 anos</option>
                                <option value="18">18 anos</option>
                            </select>
                        </span>

                        <span>
                            <label for="Enredo">Enredo do conteúdo</label>
                            <select name="enredo" id="Enredo">
                                <option value="">Selecione o enredo</option>
                                    <option value='Ação  '>Ação   </option>
                                    <option value='Animação '>Animação  </option>
                                    <option value='Animação Digital '>Animação Digital  </option>
                                    <option value='Arte '>Arte  </option>
                                    <option value='Artes marciais '>Artes marciais  </option>
                                    <option value='Aventura '>Aventura  </option>
                                    <option value='Aventura bíblica '>Aventura bíblica  </option>
                                    <option value='Aventura de assalto '>Aventura de assalto  </option>
                                    <option value='Aventura de guerra '>Aventura de guerra  </option>
                                    <option value='Aventura juvenil '>Aventura juvenil  </option>
                                    <option value='Aventura policial '>Aventura policial  </option>
                                    <option value='Bíblico '>Bíblico  </option>
                                    <option value='Capa-espada '>Capa-espada  </option>
                                    <option value='Chanchada '>Chanchada  </option>
                                    <option value='Chanchada Musical '>Chanchada Musical  </option>
                                    <option value='Ciência e tecnologia '>Ciência e tecnologia  </option>
                                    <option value='Clássico '>Clássico  </option>
                                    <option value='Comédia '>Comédia  </option>
                                    <option value='Comédia clássica '>Comédia clássica  </option>
                                    <option value='Comédia de humor negro '>Comédia de humor negro  </option>
                                    <option value='Comédia dramática '>Comédia dramática  </option>
                                    <option value='Comédia de faroeste '>Comédia de faroeste  </option>
                                    <option value='Comédia infantil '>Comédia infantil  </option>
                                    <option value='Comédia juvenil '>Comédia juvenil  </option>
                                    <option value='Comédia musical '>Comédia musical  </option>
                                    <option value='Comédia pastelão '>Comédia pastelão  </option>
                                    <option value='Comédia policial '>Comédia policial  </option>
                                    <option value='Comédia romântica '>Comédia romântica  </option>
                                    <option value='Comportamento e vida cotidiana '>Comportamento e vida cotidiana  </option>
                                    <option value='Desenho animado '>Desenho animado  </option>
                                    <option value='Didático '>Didático  </option>
                                    <option value='Drama '>Drama  </option>
                                    <option value='Drama biográfico '>Drama biográfico  </option>
                                    <option value='Drama de prisão '>Drama de prisão  </option>
                                    <option value='Drama de guerra '>Drama de guerra  </option>
                                    <option value='Drama erótico '>Drama erótico  </option>
                                    <option value='Drama esportivo '>Drama esportivo  </option>
                                    <option value='Drama histórico  '>Drama histórico   </option>
                                    <option value='Drama policial '>Drama policial  </option>
                                    <option value='Drama político '>Drama político  </option>
                                    <option value='Drama religioso '>Drama religioso  </option>
                                    <option value='Drama romântico '>Drama romântico  </option>
                                    <option value='Educativo '>Educativo  </option>
                                    <option value='Épico '>Épico  </option>
                                    <option value='Erótico '>Erótico  </option>
                                    <option value='Espionagem '>Espionagem  </option>
                                    <option value='Fantasia '>Fantasia  </option>
                                    <option value='Fantasia juvenil '>Fantasia juvenil  </option>
                                    <option value='Faroeste '>Faroeste  </option>
                                    <option value='Ficção científica '>Ficção científica  </option>
                                    <option value='Filme-catástrofe    '>Filme-catástrofe     </option>
                                    <option value='Filme em episódios '>Filme em episódios  </option>
                                    <option value='Gângster '>Gângster  </option>
                                    <option value='Guerra '>Guerra  </option>
                                    <option value='História '>História  </option>
                                    <option value='Infantil '>Infantil  </option>
                                    <option value='Musical '>Musical  </option>
                                    <option value='Musical didático '>Musical didático  </option>
                                    <option value='Musical juvenil clássico '>Musical juvenil clássico  </option>
                                    <option value='Musical natalino '>Musical natalino  </option>
                                    <option value='Natureza e animais  '>Natureza e animais   </option>
                                    <option value='Policial '>Policial  </option>
                                    <option value='Pornográfico '>Pornográfico  </option>
                                    <option value='Procedimentos médicos '>Procedimentos médicos  </option>
                                    <option value='Religioso '>Religioso  </option>
                                    <option value='Romance '>Romance  </option>
                                    <option value='Romance musical '>Romance musical  </option>
                                    <option value='Saúde '>Saúde  </option>
                                    <option value='Surrealista '>Surrealista  </option>
                                    <option value='Suspense '>Suspense  </option>
                                    <option value='Suspense-erótico '>Suspense-erótico  </option>
                                    <option value='Terror '>Terror  </option>
                                    <option value='Vanguarda '>Vanguarda  </option>
                                    <option value='Outros '>Outros  </option>
                                    <option value='Não há gênero a ser acrescentado para além do formato previamente indicado'>Não há gênero a ser acrescentado para além do formato previamente indicado.</option>
                            </select>
                        </span>
                       <span>
                           <label for="Conteudo-violento">O material em análise apresenta algum tipo de conteúdo violento?</label>
                           <select name="conteudo-violento" id="Conteudo-violento">
                               <option value="">Indique o conteúdo</option>
                               <option value="Sim">Sim</option>
                               <option value="Não">Não</option>
                           </select>
                       </span>
                    </div>
                </div>
        </div>
        <div class='rightposition'>
            <div class='bookBox'>
                <form action="" class='formInputSearch'>
                    <input type="text" placeholder="Pesquise" name='pesquisa'>
                    <button>
                        <i class="material-icons"> search </i>
                    </button>
                </form>

                <div>
                    <span>
                        <label>CÓD: 252</label>
                        <p>Lorem ipsum lorem ipsum</p>
                    </span>
                </div>
                <span class='gradient'></span>
            </div>

            <div class='Userplace'>
                <img src="img/icon6.png" alt="Icone Usuário - SAAV">
                <h5>Pedro Rago</h5>
                <p>Você</p>
            </div>
            <div class='Userplace'>
                <h5 style='margin-left:0 !important;'>Analises realizadas</h5>
            </div>

            <div class=''>


            </div>
        </div>

        

    </div>
    
    <legend id='DireitosReservados'>Sistema de Análise Audiovisual - <strong>SAAV</strong><br>Todos os direitos reservados</legend>
    
</main>


<% include includes/footer.ejs %>


