<div style='margin: 0 auto; padding: 0; display: grid; background: #262d41;'>
        <div style='    width: 100%;
        height: 100%;
        opacity: 0.2;
        background-image:url(http://creativeit.io/material-dashboard-lite/images/Dark_background_1920x1080.png);
        display: grid; padding: 3em 0em;'>
        <div style='width: 39em;
        border-top: 5px solid #00acc7;
        height: 30em;
        margin: auto;
        padding: 4em 5em;
        background: #000000;
        margin-bottom: 15em'>
                <div><img src="https://image.ibb.co/bs8kLA/logo.png" style='margin-left: -1.9em' alt="Logomarca SAAV"></div>
                <div>
                        <h3 style='    font-family: Roboto;
                        color: #fff;
                        font-size: 1.4em;
                        font-weight: 500;
                        margin-top: 0em;
                        margin-bottom: .2em;'>SAAV</h3>
                        <p style='    color: #fff;
                        font-size: 1.2em;
                        font-weight: 300;
                        margin-top: 0em;
                        margin-bottom: 2em;'>Sistema de Analise Audiovisual</p>
    
                        <p style='    color: #fff;
                        margin-left: 0;
                        font-size: 1em;
                        font-weight: 300;
                        margin-top: 0em;'>Você foi convidado para se tornar um membro do Sistema de Anlise Audiovisual.</p>
                        <p style='    color: #fff;
                        font-size: 1em;
                        font-weight: 300;
                        margin-top: 0em;'>Para mais utilizar o nosso sistema <a href="http://analise-visual-com.umbler.net/" target="_blank">clique aqui</a> e faça login.</p>
                        <p style='    color: #fff;
                        font-size: 1em;
                        font-weight: 300;
                        margin-top: 0em;'><strong>Login:</strong> seu email atual</p>
                        <p style='    color: #fff;
                        font-size: 1em;
                        font-weight: 300;
                        margin-top: 0em;'><strong>Senha:</strong> SistemaSAAV@321</p>
                        <p style='color: #fff;
                        font-size: .9em;
                        font-weight: 300;
                        margin-top: 4em;'>Cuida da sua senha, não à informe para ninguém para evitar roubo e fraude. Todos os direitos reservados a SAAV.</p>
                </div>
            </div>
        </div>
    
    </div>