
<%- include layouts/header.ejs %>	

<section id='LoginContent'>
	<content></content>
		<form>
			<img src="/public/img/logo_mini.png">
			<h2>Sistema de Analise Audiovisual</h2>
<div class="mdc-text-field">
  <input type="text" id="my-text-field" class="mdc-text-field__input">
  <label class="mdc-floating-label" for="my-text-field">Hint text</label>
  <div class="mdc-line-ripple"></div>
</div>
		</form>
</section>

<%- include layouts/footer.ejs %>
