<!DOCTYPE html>
<html>
   <head>
      <title>Login - SAAV</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta charset="utf-8">
      <meta author="">
      <link rel="icon" href="/img/favicon.icon">
      <meta property="og:type" content="website">
      <meta charset="utf-8">
      <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="/css/reset.css">
      <link rel="stylesheet" href="/css/app.css">
      <link rel="stylesheet" href="/css/responsive.css">
   </head>
   <body>
      <section id='LoginContent'>
         <content></content>
         <!-- <form>
            <img src="img/logo_mini.png">
            <h2>Sistema de Analise Audiovisual</h2>
            
            <div class='inputContainer'>
            	<img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/user_icon_copy.png' class='icon'>
            	<input type="text" name="Username" placeholder="Username">
            </div>
            <div class='inputContainer second'>
            	<img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/tick.png' class='icon'>
            	<input type="text" name="Username" placeholder="Password">
            </div>
            </form> -->
         <!-- 		<div class='brand'>
            <a href='https://www.jamiecoulter.co.uk' target='_blank'>
            	<img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/logo.png'>
            </a>
            </div>
            -->
            <form id="login_form" action='/login' method='POST' enctype="application/x-www-form-urlencoded">
         <div class='login'>
            <div class='login_title'>
               <span>Faça login para acessar o sistema</span>
            </div>
            <div class='login_fields'>
               <div class='login_fields__user'>
                  <div class='icon'>
                     <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/user_icon_copy.png'>
                  </div>
                  <input placeholder='Usuário' name="email" type='text'>
                  <div class='validation'>
                     <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/tick.png'>
                  </div>
                  </input>
               </div>
               <div class='login_fields__password'>
                  <div class='icon'>
                     <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/lock_icon_copy.png'>
                  </div>
                  <input placeholder='Senha'name="password" type='password'>
                  <div class='validation'>
                     <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/tick.png'>
                  </div>
               </div>
               <div class='login_fields__submit'>
                  <input type='submit' value='Log In'>
                  <div class='forgot'>
                     <a href='#'>Esqueceu a senha?</a>
                  </div>
               </div>
            </div>
            <div class='success'>
               <h2>Credencias aprovadas</h2>
               <p>Bem vindo!</p>
            </div>
            <div class='disclaimer'>
               <p>Cuida da sua senha, não à informe para ninguém para evitar roubo e fraude. Todos os direitos reservados a SAAV.</p>
            </div>
         </div>
        </form>
         <div class='authent'>
            <img src="img/logo_mini.png" class='logoAutenticacao'>
            <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/puff.svg'>
            <p>Autenticando...</p>
         </div>
         <div class='love'>
            <p>Made with <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/love_copy.png" /> by <a href='https://www.jamiecoulter.co.uk' target='_blank'> Jcoulterdesign </a></p>
         </div>
      </section>
      <script src="/js/jquery.js"></script>
      <script src="/js/jquery-ui.min.js"></script>
      <script src="/js/app.js"></script>
   </body>
</html>