<% include includes/header.ejs %>


<!-- View de listagem de programação -->

<main>
    
    <h2>Listagem de<strong> Programação</strong></h2>
    
    
    <div class='container'>
        
        <span class='headerContent'>
            <h3>TODAS AS PROGRAMAÇÕES</h3>

            <div>
            <a href="/singUp_program">Cadastrar</a>

                    <form action="" class='formInputSearch'>
                            <input type="text" placeholder="Pesquise" name='pesquisa'>
                            <button>
                                <i class="material-icons"> search </i>
                            </button>
                        </form>
            </div>


        </span>
        
        <div class='listProgram'>
            <div class='listBox'>
                <span>
                    <label>TÍTULO DA PROGRAMAÇÃO</label>
                    <p>Encontro com Fátima Bernardes</p>
                </span>
                <span>
                    <label>DATA DE TRANSMISSÃO</label>
                    <p>Seg à Sexta</p>
                </span>
                <span>
                    <label>HORÁRIO DE TRANSMISSÃO</label>
                    <p>10:50 AM</p>
                </span>
                <span>
                    <label>EMISSORA</label>
                    <p>Rede Globo</p>
                </span>
                <span>
                    <label>FORMATO</label>
                    <p>MP4</p>
                </span>
                <span>
                    <label>ID</label>
                    <p>22818</p>
                </span>
                <span>
                    <label>ESTADO</label>
                    <p>Não Análisado</p>
                </span>
                <span class='buttonsList'>
                    <a href="/">
                        <img src="img/icon8.png" alt="">
                        <div class='titleBox'>
                            <span></span>
                            <p>Visualizar</p>
                        </div>
                    </a>
                    <a href="/">
                        <img src="img/icon9.svg" alt="">
                        <div class='titleBox'>
                            <span></span>
                            <p>Analisar</p>
                        </div>
                    </a>
                </span>
            </div>
            <div class='listBox'>
                <span>
                    <label>TÍTULO DA PROGRAMAÇÃO</label>
                    <p>Encontro com Fátima Bernardes</p>
                </span>
                <span>
                    <label>DATA DE TRANSMISSÃO</label>
                    <p>Seg à Sexta</p>
                </span>
                <span>
                    <label>HORÁRIO DE TRANSMISSÃO</label>
                    <p>10:50 AM</p>
                </span>
                <span>
                    <label>EMISSORA</label>
                    <p>Rede Globo</p>
                </span>
                <span>
                    <label>FORMATO</label>
                    <p>MP4</p>
                </span>
                <span>
                    <label>ID</label>
                    <p>22818</p>
                </span>
                <span>
                    <label>ESTADO</label>
                    <p>Não Análisado</p>
                </span>
                <span class='buttonsList'>
                    <a href="/">
                        <img src="img/icon8.png" alt="">
                        <div class='titleBox'>
                            <span></span>
                            <p>Visualizar</p>
                        </div>
                    </a>
                    <a href="/">
                        <img src="img/icon9.svg" alt="">
                        <div class='titleBox'>
                            <span></span>
                            <p>Analisar</p>
                        </div>
                    </a>
                </span>
            </div>
            <div class='listBox'>
                <span>
                    <label>TÍTULO DA PROGRAMAÇÃO</label>
                    <p>Encontro com Fátima Bernardes</p>
                </span>
                <span>
                    <label>DATA DE TRANSMISSÃO</label>
                    <p>Seg à Sexta</p>
                </span>
                <span>
                    <label>HORÁRIO DE TRANSMISSÃO</label>
                    <p>10:50 AM</p>
                </span>
                <span>
                    <label>EMISSORA</label>
                    <p>Rede Globo</p>
                </span>
                <span>
                    <label>FORMATO</label>
                    <p>MP4</p>
                </span>
                <span>
                    <label>ID</label>
                    <p>22818</p>
                </span>
                <span>
                    <label>ESTADO</label>
                    <p>Não Análisado</p>
                </span>
                <span class='buttonsList'>
                    <a href="/">
                        <img src="img/icon8.png" alt="">
                        <div class='titleBox'>
                            <span></span>
                            <p>Visualizar</p>
                        </div>
                    </a>
                    <a href="/">
                        <img src="img/icon9.svg" alt="">
                        <div class='titleBox'>
                            <span></span>
                            <p>Analisar</p>
                        </div>
                    </a>
                </span>
            </div>
            <div class='listBox'>
                <span>
                    <label>TÍTULO DA PROGRAMAÇÃO</label>
                    <p>Encontro com Fátima Bernardes</p>
                </span>
                <span>
                    <label>DATA DE TRANSMISSÃO</label>
                    <p>Seg à Sexta</p>
                </span>
                <span>
                    <label>HORÁRIO DE TRANSMISSÃO</label>
                    <p>10:50 AM</p>
                </span>
                <span>
                    <label>EMISSORA</label>
                    <p>Rede Globo</p>
                </span>
                <span>
                    <label>FORMATO</label>
                    <p>MP4</p>
                </span>
                <span>
                    <label>ID</label>
                    <p>22818</p>
                </span>
                <span>
                    <label>ESTADO</label>
                    <p>Não Análisado</p>
                </span>
                <span class='buttonsList'>
                    <a href="/">
                        <img src="img/icon8.png" alt="">
                        <div class='titleBox'>
                            <span></span>
                            <p>Visualizar</p>
                        </div>
                    </a>
                    <a href="/">
                        <img src="img/icon9.svg" alt="">
                        <div class='titleBox'>
                            <span></span>
                            <p>Analisar</p>
                        </div>
                    </a>
                </span>
            </div>
            <div class='listBox'>
                <span>
                    <label>TÍTULO DA PROGRAMAÇÃO</label>
                    <p>Encontro com Fátima Bernardes</p>
                </span>
                <span>
                    <label>DATA DE TRANSMISSÃO</label>
                    <p>Seg à Sexta</p>
                </span>
                <span>
                    <label>HORÁRIO DE TRANSMISSÃO</label>
                    <p>10:50 AM</p>
                </span>
                <span>
                    <label>EMISSORA</label>
                    <p>Rede Globo</p>
                </span>
                <span>
                    <label>FORMATO</label>
                    <p>MP4</p>
                </span>
                <span>
                    <label>ID</label>
                    <p>22818</p>
                </span>
                <span>
                    <label>ESTADO</label>
                    <p>Não Análisado</p>
                </span>
                <span class='buttonsList'>
                    <a href="/">
                        <img src="img/icon8.png" alt="">
                        <div class='titleBox'>
                            <span></span>
                            <p>Visualizar</p>
                        </div>
                    </a>
                    <a href="/">
                        <img src="img/icon9.svg" alt="">
                        <div class='titleBox'>
                            <span></span>
                            <p>Analisar</p>
                        </div>
                    </a>
                </span>
            </div>
            <div class='listBox'>
                <span>
                    <label>TÍTULO DA PROGRAMAÇÃO</label>
                    <p>Encontro com Fátima Bernardes</p>
                </span>
                <span>
                    <label>DATA DE TRANSMISSÃO</label>
                    <p>Seg à Sexta</p>
                </span>
                <span>
                    <label>HORÁRIO DE TRANSMISSÃO</label>
                    <p>10:50 AM</p>
                </span>
                <span>
                    <label>EMISSORA</label>
                    <p>Rede Globo</p>
                </span>
                <span>
                    <label>FORMATO</label>
                    <p>MP4</p>
                </span>
                <span>
                    <label>ID</label>
                    <p>22818</p>
                </span>
                <span>
                    <label>ESTADO</label>
                    <p>Não Análisado</p>
                </span>
                <span class='buttonsList'>
                    <a href="/">
                        <img src="img/icon8.png" alt="">
                        <div class='titleBox'>
                            <span></span>
                            <p>Visualizar</p>
                        </div>
                    </a>
                    <a href="/">
                        <img src="img/icon9.svg" alt="">
                        <div class='titleBox'>
                            <span></span>
                            <p>Analisar</p>
                        </div>
                    </a>
                </span>
            </div>
            <div class='listBox'>
                <span>
                    <label>TÍTULO DA PROGRAMAÇÃO</label>
                    <p>Encontro com Fátima Bernardes</p>
                </span>
                <span>
                    <label>DATA DE TRANSMISSÃO</label>
                    <p>Seg à Sexta</p>
                </span>
                <span>
                    <label>HORÁRIO DE TRANSMISSÃO</label>
                    <p>10:50 AM</p>
                </span>
                <span>
                    <label>EMISSORA</label>
                    <p>Rede Globo</p>
                </span>
                <span>
                    <label>FORMATO</label>
                    <p>MP4</p>
                </span>
                <span>
                    <label>ID</label>
                    <p>22818</p>
                </span>
                <span>
                    <label>ESTADO</label>
                    <p>Não Análisado</p>
                </span>
                <span class='buttonsList'>
                    <a href="/">
                        <img src="img/icon8.png" alt="">
                        <div class='titleBox'>
                            <span></span>
                            <p>Visualizar</p>
                        </div>
                    </a>
                    <a href="/">
                        <img src="img/icon9.svg" alt="">
                        <div class='titleBox'>
                            <span></span>
                            <p>Analisar</p>
                        </div>
                    </a>
                </span>
            </div>
            <div class='listBox'>
                <span>
                    <label>TÍTULO DA PROGRAMAÇÃO</label>
                    <p>Encontro com Fátima Bernardes</p>
                </span>
                <span>
                    <label>DATA DE TRANSMISSÃO</label>
                    <p>Seg à Sexta</p>
                </span>
                <span>
                    <label>HORÁRIO DE TRANSMISSÃO</label>
                    <p>10:50 AM</p>
                </span>
                <span>
                    <label>EMISSORA</label>
                    <p>Rede Globo</p>
                </span>
                <span>
                    <label>FORMATO</label>
                    <p>MP4</p>
                </span>
                <span>
                    <label>ID</label>
                    <p>22818</p>
                </span>
                <span>
                    <label>ESTADO</label>
                    <p>Não Análisado</p>
                </span>
                <span class='buttonsList'>
                    <a href="/">
                        <img src="img/icon8.png" alt="">
                        <div class='titleBox'>
                            <span></span>
                            <p>Visualizar</p>
                        </div>
                    </a>
                    <a href="/">
                        <img src="img/icon9.svg" alt="">
                        <div class='titleBox'>
                            <span></span>
                            <p>Analisar</p>
                        </div>
                    </a>
                </span>
            </div>
            <div class='listBox'>
                <span>
                    <label>TÍTULO DA PROGRAMAÇÃO</label>
                    <p>Encontro com Fátima Bernardes</p>
                </span>
                <span>
                    <label>DATA DE TRANSMISSÃO</label>
                    <p>Seg à Sexta</p>
                </span>
                <span>
                    <label>HORÁRIO DE TRANSMISSÃO</label>
                    <p>10:50 AM</p>
                </span>
                <span>
                    <label>EMISSORA</label>
                    <p>Rede Globo</p>
                </span>
                <span>
                    <label>FORMATO</label>
                    <p>MP4</p>
                </span>
                <span>
                    <label>ID</label>
                    <p>22818</p>
                </span>
                <span>
                    <label>ESTADO</label>
                    <p>Não Análisado</p>
                </span>
                <span class='buttonsList'>
                    <a href="/">
                        <img src="img/icon8.png" alt="">
                        <div class='titleBox'>
                            <span></span>
                            <p>Visualizar</p>
                        </div>
                    </a>
                    <a href="/">
                        <img src="img/icon9.svg" alt="">
                        <div class='titleBox'>
                            <span></span>
                            <p>Analisar</p>
                        </div>
                    </a>
                </span>
            </div>
            <div class='listBox'>
                <span>
                    <label>TÍTULO DA PROGRAMAÇÃO</label>
                    <p>Encontro com Fátima Bernardes</p>
                </span>
                <span>
                    <label>DATA DE TRANSMISSÃO</label>
                    <p>Seg à Sexta</p>
                </span>
                <span>
                    <label>HORÁRIO DE TRANSMISSÃO</label>
                    <p>10:50 AM</p>
                </span>
                <span>
                    <label>EMISSORA</label>
                    <p>Rede Globo</p>
                </span>
                <span>
                    <label>FORMATO</label>
                    <p>MP4</p>
                </span>
                <span>
                    <label>ID</label>
                    <p>22818</p>
                </span>
                <span>
                    <label>ESTADO</label>
                    <p>Não Análisado</p>
                </span>
                <span class='buttonsList'>
                    <a href="/">
                        <img src="img/icon8.png" alt="">
                        <div class='titleBox'>
                            <span></span>
                            <p>Visualizar</p>
                        </div>
                    </a>
                    <a href="/">
                        <img src="img/icon9.svg" alt="">
                        <div class='titleBox'>
                            <span></span>
                            <p>Analisar</p>
                        </div>
                    </a>
                </span>
            </div>
            <div class='listBox'>
                <span>
                    <label>TÍTULO DA PROGRAMAÇÃO</label>
                    <p>Encontro com Fátima Bernardes</p>
                </span>
                <span>
                    <label>DATA DE TRANSMISSÃO</label>
                    <p>Seg à Sexta</p>
                </span>
                <span>
                    <label>HORÁRIO DE TRANSMISSÃO</label>
                    <p>10:50 AM</p>
                </span>
                <span>
                    <label>EMISSORA</label>
                    <p>Rede Globo</p>
                </span>
                <span>
                    <label>FORMATO</label>
                    <p>MP4</p>
                </span>
                <span>
                    <label>ID</label>
                    <p>22818</p>
                </span>
                <span>
                    <label>ESTADO</label>
                    <p>Não Análisado</p>
                </span>
                <span class='buttonsList'>
                    <a href="/">
                        <img src="img/icon8.png" alt="">
                        <div class='titleBox'>
                            <span></span>
                            <p>Visualizar</p>
                        </div>
                    </a>
                    <a href="/">
                        <img src="img/icon9.svg" alt="">
                        <div class='titleBox'>
                            <span></span>
                            <p>Analisar</p>
                        </div>
                    </a>
                </span>
            </div>
            <div class='listBox'>
                <span>
                    <label>TÍTULO DA PROGRAMAÇÃO</label>
                    <p>Encontro com Fátima Bernardes</p>
                </span>
                <span>
                    <label>DATA DE TRANSMISSÃO</label>
                    <p>Seg à Sexta</p>
                </span>
                <span>
                    <label>HORÁRIO DE TRANSMISSÃO</label>
                    <p>10:50 AM</p>
                </span>
                <span>
                    <label>EMISSORA</label>
                    <p>Rede Globo</p>
                </span>
                <span>
                    <label>FORMATO</label>
                    <p>MP4</p>
                </span>
                <span>
                    <label>ID</label>
                    <p>22818</p>
                </span>
                <span>
                    <label>ESTADO</label>
                    <p>Não Análisado</p>
                </span>
                <span class='buttonsList'>
                    <a href="/">
                        <img src="img/icon8.png" alt="">
                        <div class='titleBox'>
                            <span></span>
                            <p>Visualizar</p>
                        </div>
                    </a>
                    <a href="/">
                        <img src="img/icon9.svg" alt="">
                        <div class='titleBox'>
                            <span></span>
                            <p>Analisar</p>
                        </div>
                    </a>
                </span>
            </div>
            <div class='listBox'>
                <span>
                    <label>TÍTULO DA PROGRAMAÇÃO</label>
                    <p>Encontro com Fátima Bernardes</p>
                </span>
                <span>
                    <label>DATA DE TRANSMISSÃO</label>
                    <p>Seg à Sexta</p>
                </span>
                <span>
                    <label>HORÁRIO DE TRANSMISSÃO</label>
                    <p>10:50 AM</p>
                </span>
                <span>
                    <label>EMISSORA</label>
                    <p>Rede Globo</p>
                </span>
                <span>
                    <label>FORMATO</label>
                    <p>MP4</p>
                </span>
                <span>
                    <label>ID</label>
                    <p>22818</p>
                </span>
                <span>
                    <label>ESTADO</label>
                    <p>Não Análisado</p>
                </span>
                <span class='buttonsList'>
                    <a href="/">
                        <img src="img/icon8.png" alt="">
                        <div class='titleBox'>
                            <span></span>
                            <p>Visualizar</p>
                        </div>
                    </a>
                    <a href="/">
                        <img src="img/icon9.svg" alt="">
                        <div class='titleBox'>
                            <span></span>
                            <p>Analisar</p>
                        </div>
                    </a>
                </span>
            </div>
            <div class='listBox'>
                <span>
                    <label>TÍTULO DA PROGRAMAÇÃO</label>
                    <p>Encontro com Fátima Bernardes</p>
                </span>
                <span>
                    <label>DATA DE TRANSMISSÃO</label>
                    <p>Seg à Sexta</p>
                </span>
                <span>
                    <label>HORÁRIO DE TRANSMISSÃO</label>
                    <p>10:50 AM</p>
                </span>
                <span>
                    <label>EMISSORA</label>
                    <p>Rede Globo</p>
                </span>
                <span>
                    <label>FORMATO</label>
                    <p>MP4</p>
                </span>
                <span>
                    <label>ID</label>
                    <p>22818</p>
                </span>
                <span>
                    <label>ESTADO</label>
                    <p>Não Análisado</p>
                </span>
                <span class='buttonsList'>
                    <a href="/">
                        <img src="img/icon8.png" alt="">
                        <div class='titleBox'>
                            <span></span>
                            <p>Visualizar</p>
                        </div>
                    </a>
                    <a href="/">
                        <img src="img/icon9.svg" alt="">
                        <div class='titleBox'>
                            <span></span>
                            <p>Analisar</p>
                        </div>
                    </a>
                </span>
            </div>
            <div class='listBox'>
                <span>
                    <label>TÍTULO DA PROGRAMAÇÃO</label>
                    <p>Encontro com Fátima Bernardes</p>
                </span>
                <span>
                    <label>DATA DE TRANSMISSÃO</label>
                    <p>Seg à Sexta</p>
                </span>
                <span>
                    <label>HORÁRIO DE TRANSMISSÃO</label>
                    <p>10:50 AM</p>
                </span>
                <span>
                    <label>EMISSORA</label>
                    <p>Rede Globo</p>
                </span>
                <span>
                    <label>FORMATO</label>
                    <p>MP4</p>
                </span>
                <span>
                    <label>ID</label>
                    <p>22818</p>
                </span>
                <span>
                    <label>ESTADO</label>
                    <p>Não Análisado</p>
                </span>
                <span class='buttonsList'>
                    <a href="/">
                        <img src="img/icon8.png" alt="">
                        <div class='titleBox'>
                            <span></span>
                            <p>Visualizar</p>
                        </div>
                    </a>
                    <a href="/">
                        <img src="img/icon9.svg" alt="">
                        <div class='titleBox'>
                            <span></span>
                            <p>Analisar</p>
                        </div>
                    </a>
                </span>
            </div>
            <div class='listBox'>
                <span>
                    <label>TÍTULO DA PROGRAMAÇÃO</label>
                    <p>Encontro com Fátima Bernardes</p>
                </span>
                <span>
                    <label>DATA DE TRANSMISSÃO</label>
                    <p>Seg à Sexta</p>
                </span>
                <span>
                    <label>HORÁRIO DE TRANSMISSÃO</label>
                    <p>10:50 AM</p>
                </span>
                <span>
                    <label>EMISSORA</label>
                    <p>Rede Globo</p>
                </span>
                <span>
                    <label>FORMATO</label>
                    <p>MP4</p>
                </span>
                <span>
                    <label>ID</label>
                    <p>22818</p>
                </span>
                <span>
                    <label>ESTADO</label>
                    <p>Não Análisado</p>
                </span>
                <span class='buttonsList'>
                    <a href="/">
                        <img src="img/icon8.png" alt="">
                        <div class='titleBox'>
                            <span></span>
                            <p>Visualizar</p>
                        </div>
                    </a>
                    <a href="/">
                        <img src="img/icon9.svg" alt="">
                        <div class='titleBox'>
                            <span></span>
                            <p>Analisar</p>
                        </div>
                    </a>
                </span>
            </div>
            
            
        </div>
        
    </div>
    
    <legend id='DireitosReservados'>Sistema de Análise Audiovisual - <strong>SAAV</strong><br>Todos os direitos reservados</legend>
    
</main>



<% include includes/footer.ejs %>

<style>
    body
    {
        overflow-y: hidden;
    }
</style>