<% include includes/header.ejs %>


<!-- View de cadastro de programação -->

<main>
    
    <h2>Cadastro de<strong> Programação</strong></h2>
    <h4>Você está no perfil de um Administrador autorizado para casdastro de programação
        
    </h4>
    
    <div class='container'>
        
        <div class='SingUpContainer'>
            <form class='SingUpForm' id="SingUpForm" method="POST" action="/s3StreamUpload" enctype="multipart/form-data">
                <input name="video" id="inputVideo" hidden>
                
                <label for="Nome">NOME DA PROGRAMAÇÃO</label>
                <input type="text" name='nome' id='NomeProgramacaoCadastro' required>

                <label for="DataProgramacao">DATA DA PROGRAMAÇÃO</label>
                <input name='dia_emissao' type='date' id='DataProgramacao' required/>                
                
                <label for="HorarioInicio">HORÁRIO DO INÍCIO DA PROGRAMAÇÃO</label>
                <input name='hora_inicio' type='time' id='HorarioInicio' required> 

                <label for="HorarioFim">HORÁRIO DO FIM DA PROGRAMAÇÃO</label>
                <input name='hora_fim' type='time' id='HorarioFim' required>

                <label for="emissora">EMISSORA:</label>
                <select name="emissora" id="emissora" required>
                    <option value="">Informe a emissora</option>
                    <option value='SBT'>SBT</option>
                    <option value='GLOBO'>GLOBO</option>
                    <option value='RECORD'>RECORD</option>
                </select>
                <button type='submit'>Cadastrar</button>
            </form>
            <div class='UploadVideo'>
                <label>VÍDEO</label>
                
                <div class='VideoContent'>

                    <div class='videoPreviewContent'>
                        <img src="img/icon11.svg" alt="" class='iconPencil'>
                        <span></span>
                        <video class="videoPreview">
                        </video>
                    </div>


                    <div class='formUploadFile'>
                        <input type="file" id='Upload' hidden name='imagem_file[]' accept="video/webm,video/mp4,video/x-m4v,video/avi">
                        <label for="Upload" style='margin:0;'>
                            <!-- <img src="img/icon10.svg" alt=""> -->
                            <div class="upload">
                                
                                <svg class="circle" viewBox="0 0 164 164">
                                    <circle cx="82" cy="82" r="80"></circle>
                                    <circle class="active" cx="82" cy="82" r="80"></circle>
                                </svg>
                                
                                <svg class="image" viewBox="0 0 60 60">
                                    <rect fill="currentColor" x="0" y="0" width="60" height="60" rx="11.9999993"></rect>
                                    <circle fill="#8999bc" cx="15" cy="15" r="5"></circle>
                                    <path d="M50,54 L10,54 C7.790861,54 6,52.209139 6,50 L6,44.2867962 C6,44.0993765 6.05266944,43.9157289 6.1520017,43.7567973 L12.6080068,33.4271891 C12.9299296,32.9121126 13.3649277,32.4771145 13.8800042,32.1551917 C15.7533504,30.9843504 18.2211519,31.553843 19.3919932,33.4271891 L26,44 L36.3752674,21.7672841 C36.7726106,20.9158345 37.4570086,20.2314365 38.3084581,19.8340934 C40.3103427,18.8998806 42.6905198,19.7653995 43.6247326,21.7672841 L53.9061831,43.7989639 C53.9679765,43.9313783 54,44.0757261 54,44.2218493 L54,50 C54,52.209139 52.209139,54 50,54 Z" fill="#8999bc"></path>
                                </svg>
                                
                            </div>
                            <p>Upload da programação</p>

                        </label>
                    </div>
                </div>
                <p class='msg'>Apenas arquivos em formato: MP4, AVI</p>
                
                <div class='infoFile'>
                    <label>Arquivo no formato: <p id='FormatoArquivo'> </p></label>
                    <label>Nome do arquivo:    <p id='NomeArquivo'> </p></label>
                </div>

            </div>
        </div>
        
        
    </div>
    
    <legend id='DireitosReservados'>Sistema de Análise Audiovisual - <strong>SAAV</strong><br>Todos os direitos reservados</legend>
    
</main>



<% include includes/footer.ejs %>

<script src="js/upload.js"></script>

