<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>
<form id="upload" action="/s3StreamUpload" method="post" enctype="multipart/form-data">

<input type="file" name="arquivo"/>
<input type="text" name="nome"/>
<input type="text" name="idade"/>
<input type="datetime-local" name="hora_inicio">
<button type="submit"></button>
</form>
<h1>This is a Heading</h1>
<p>This is a paragraph.</p>
<div class="progress-bar"></div>
</body>
<script src="/js/jquery.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/upload.js"></script>
</html>